<section>
    <a href="/">Home</a>
</section>

<section class="buttons">
    <a id="" href="/geliked">Gelikete personen</a>
    <form action="/logout" method=post>
        <input id="logout" type="submit" value="Uitloggen">
    </form>
</section>