<form action="/login" method="post">
    <label for="email">E-mail</label>
    <input type="email" name="email" id="email" placeholder="typ hier je e-mail adres..." required>
    <label for="password">Wachtwoord</label>
    <input type="password" name="password" id="password" placeholder="vul hier je wachtwoord in" required>
    <input type="submit" value="login">
</form>