<form action="/account" method="POST">
    <section>
        <div>
            <label for="name">(Voor)naam</label>
            <input type="text" name="name" id="name" placeholder="typ hier je (voor)naam..." required>
        </div>
        <div>
            <label for="age">Leeftijd</label>
            <input type="text" name="age" id="age" placeholder="typ hier je leeftijd...">
        </div>
    </section>
    <label for="email">E-mail</label>
    <input type="email" name="email" id="email" placeholder="typ hier je e-mail adres..." required>
    <label for="password">Wachtwoord</label>
    <input type="password" name="password" id="passwordLength" placeholder="verzin een sterk wachtwoord..." required>
    <input type="hidden" name="liked" id="liked" value="">
    <% if(locals.err_msg) { %>
        <div class="login-errorMessage"><%= err_msg %></div>
    <% } %>
    <div id="error-nwl"></div>
    <input type="submit" id="freezeButton" value="aanmelden">
</form>