@import "var.scss";

/* Responsive variables */

@mixin breakpoint($point) {
  @if $point == big-desktop {
    @media (min-width: 1300px) { @content ; }
  }
  @else if $point == small-desktop {
    @media (min-width: 768px) { @content ; }
  }
}

@mixin buttons() {
  font-size: 14px;
  // font-weight: normal;
  background-color: black;
  color: white;
  padding: $extraSmall-padding $small-padding;
  border-radius: 1em;
  border: none;
}